@media all and (max-width:1875px){
  .public {
    display: flex;
    width: 71%;
}

.text_h3 {
  position: absolute;
  text-transform: uppercase;
  font-family: 'Rubik One', sans-serif;
  TOP: 30vh;
  width: 46vw;
  height: 39px;
  left: 28vw;
  font-size: 1.6em;
  background: rgb(118 102 8);
  color: white;
  border-radius: 5px;
  mix-blend-mode: multiply;
  padding: 19px 8px 14px 22px;
  transition: transform .4s ease-in-out;
}
  
}

@media all and (max-width: 1200px){
  .footer-center_two{
    display: none;
  }

  .navbar__wrap .menu {
    display: none;
  }

 
/*Главный фон!*/
.container {
  width: 979px;
  height: 751px;
  min-width: 1200px;
  background-size: 100%;
  background-image: url(../images/fon.jpg);
  background-repeat: no-repeat;
}

img {
  width: 116vw;
  background-repeat: no-repeat;
  background-size: cover;
}


.logo {
  transition: transform .4s ease-in-out;
  margin-left: 59px;
}


h6 {
  left: 16vw;
}
/*The-end Главный фон!*/

/*Меню-бургер*/
  .hamb {
    display: flex;
    align-items: center;
  }

  .hamb__field {
    padding: 10px 20px;
    cursor: pointer;
    position: fixed;
    right: 21%;
}

.i_menu {
  font-size: 28px;
  right: 61px;
  position: inherit;
  -webkit-transform: skewX(-24deg) translateX(0);
  color: #3f3f3f;
  top: 7px;
  text-transform: uppercase;
  font-family: bold;
}


  .bar {
    display: block;
    width: 30px;
    height: 3px;
    margin: 6px auto;
    background-color: #040000;
    transition: 0.2s;
  }



  .popup {
    position: fixed;
    top: 75px;
    left: -100%;
    width: 28%;
    height: 45%;
    background-color: #ffffffd6;
    z-index: 100;
    display: flex;
    transition: 0.3s;
   
}
  .popup.open {
    left: 0;
  }

  .popup .menu {
    width: 100%;
    height: 91%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

}

  .popup .menu > li {
    width: 100%;
  }

  .popup .menu > li > a {
    width: 50%;
    height: 50%;
    margin: 0 auto;
    padding: 17px 0;
    font-size: 21px;
    font-weight: bold;
    color: #3f3f3f;
}

  .popup .menu > li > a:hover {
    background-color: rgba(122, 82, 179, 0.1);
  }

  .hamb__field.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamb__field.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamb__field.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  body.noscroll {
    overflow: hidden;
  }


  .popup .menu > li{
 background: none;
 margin: 0 auto;
 }

 .menu #menu {
  list-style:none;
  width: 800px;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  position: absolute;
  position: fixed;
  top: 35vw;
  left: 35vw;
  z-index: 1;
  
}

.navbar{
  position: fixed;
  left: 71vw;
  top: 0;
  width: 100%;
  height: 75px;

}

.navbar_wrap .menu > li > a {
  display: flex;
  align-items: center;
  padding: 0 20px;
  color: rgba(141, 127, 35, 0.7);
  position: fixed;
}

.navbar_wrap .menu > li > a:hover {
  color: rgb(243, 8, 8);
}
/* The-end Меню-бургер!*/
/*Кнопка на понель регистрации и входа лич.коб!*/
.icon_reg {
  background: none;
  width: 43px;
  position: fixed;
  right: 26%;
  top: 17px;
}

.long_in_text {
  width: 80px;
  right: 29%;
  top: 20px;
  position: fixed;
}
/*The-End Кнопки!*/


.text_h3 {
  TOP: 13vh;
  width: 38vw;
  height: 52px;
  font-size: 1.3em;
  transition: transform .4s ease-in-out;
}



.text_container {
  TOP: 27vh;
  width: 40vw;
  left: 49vw;
  font-size: 1.1em;
}

/*обратная связь в меню!*/
.footer-center_two {
  display: block;
  font-size: 1em;
  margin-top: 27vw;
  float: left;
  position: absolute;
}
/*The end обратная связь в меню!*/

/*Навигация внизу*/
.Camping_Links {
 display: none;
}
/*The end Навигация*/


/*Регистрационная панель*/
.fon_gors {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#register, #login {
  position: fixed;
  top: 0px;
  width: 25%;

}
/*The-End Регистрационная панель*/


.Explanation_img {
  width: 100%;
}
.img_Explanation {
  width: 46vh;
  margin-left: 7vw;
}

.wrapper {
  position: absolute;
  width: 100%;
  height: 68%;
  left: 26%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  width: 500px;
  height: 500px;
  position: relative;
  perspective: 1000px;

}
.front, .back {
  position: absolute;
  width: 94%;
  height: 79%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
  backface-visibility: hidden;
  background-color: #fff;
  box-shadow: inset 0 0 90px 0 rgb(14 2 0);
}
.front, .Explanation_img {
  max-width: 100%;
  min-width: 100%;
  height: auto;
}
.back {
  transform: rotateY(180deg);
}
.card:hover .front {
  transform: rotateY(180deg);}
.card:hover .back {
  transform: rotateY(360deg);}

span{
  color: rgb(0, 0, 0);
  position: relative;
}

.text_explan {
  position: relative;
  margin-left: 7vw;
  font-size: 1.3em;
}

.Explanation_text {
  margin-left: 6vw;
  width: 47%;
  float: right;
  position: absolute;
  font-size: 1em;
}
.Explanation {
  width: 70%;
  margin: 0 auto;
  margin-top: 20px;
}

.public {
  width: 100%;
  margin-top: 51px;
  margin-left: 16vw;
}
.text_butten_text {
  color: white;
  text-align: center;
  font-size: .8em;
  line-height: 40px;
  text-align: center;
}


.links_map {
  width: 36%;
  left: 1vw;
}

.text_info_camping {
  width: 88%;
  left: 3vw;
  position: absolute;
  margin-top: 10vw;
  font-size: 0.9em;
}
.text_Attractions {
  display: flex;
  color: rgb(0, 0, 0);
  margin-top: 100px;
  height: 30px;
  width: 79%;
  margin-bottom: 30px;
}

.Public_page {
  cursor: pointer;
  width: 400px;
  margin-right: 40px;
  margin-bottom: 10PX;
}


.Travel_references {
  width: 50%;
  margin: 0 auto;
}

.Attractions {
  margin-left: 15vw;
}

.footer-distributed {
  background: #666;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 12%);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
  min-width: 1024px;
}


.map_map {
   display: none
}

#menu li {
  position: relative;
  overflow: hidden;
  height: 50px;
  margin: 11px 0;
  background: none;
}

.navbar {
  position: fixed;
  left: 13vw;
  top: 0;
  width: 100%;
  height: 75px;
  z-index: 1000;
}

}

/* (max-width: 992px) */

@media all and (max-width: 992px){

  .navbar__wrap .menu {
    display: none;
  }

 
/*Главный фон!*/
.container {
  width: 900px;
  height: 652px;
  min-width: 1200px;
  background-size: 86%;
  background-image: url(../images/fon.jpg);

  background-repeat: no-repeat;
}

img {
  width: 116vw;
  background-repeat: no-repeat;
  background-size: cover;
}


.logo {
  transition: transform .4s ease-in-out;
  margin-left: 59px;
}


h6 {
  left: 16vw;
}
/*The-end Главный фон!*/

/*Меню-бургер*/
  .hamb {
    display: flex;
    align-items: center;
  }

  .hamb__field {
    padding: 10px 20px;
    cursor: pointer;
    position: fixed;
    right: 24%;
}

.i_menu {
  font-size: 28px;
  right: 43px;
  position: inherit;
  -webkit-transform: skewX(-24deg) translateX(0);
  color: #3f3f3f;
  top: 7px;
  text-transform: uppercase;
  font-family: bold;
}


  .bar {
    display: block;
    width: 30px;
    height: 3px;
    margin: 6px auto;
    background-color: #040000;
    transition: 0.2s;
  }



  .popup {
    position: fixed;
    top: 75px;
    left: -100%;
    width: 28%;
    height: 45%;
    background-color: #ffffffd6;
    z-index: 100;
    display: flex;
    transition: 0.3s;

}
  .popup.open {
    left: 0;
  }

  .popup .menu {
    width: 100%;
    height: 91%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

}

  .popup .menu > li {
    width: 100%;
  }

  .popup .menu > li > a {
    width: 50%;
    height: 50%;
    margin: 0 auto;
    padding: 17px 0;
    font-size: 21px;
    font-weight: bold;
    color: #3f3f3f;
}

  .popup .menu > li > a:hover {
    background-color: rgba(122, 82, 179, 0.1);
  }

  .hamb__field.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamb__field.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamb__field.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  body.noscroll {
    overflow: hidden;
  }


  .popup .menu > li{
 background: none;
 margin: 0 auto;
 }

 .menu #menu {
  list-style:none;
  width: 800px;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  position: absolute;
  position: fixed;
  top: 35vw;
  left: 35vw;
  z-index: 1;
  
}

.navbar{
  position: fixed;
  left: 71vw;
  top: 0;
  width: 100%;
  height: 75px;

}

.navbar_wrap .menu > li > a {
  display: flex;
  align-items: center;
  padding: 0 20px;
  color: rgba(141, 127, 35, 0.7);
  position: fixed;
}

.navbar_wrap .menu > li > a:hover {
  color: rgb(243, 8, 8);
}
/* The-end Меню-бургер!*/
/*Кнопка на понель регистрации и входа лич.коб!*/
.icon_reg {
  background: none;
  width: 43px;
  position: fixed;
  right: 29%;
  top: 17px;
}
.long_in_text {
  width: 80px;
  right: 32%;
  top: 20px;
  position: fixed;
}
/*The-End Кнопки!*/


.text_h3 {
  TOP: 13vh;
  width: 38vw;
  height: 52px;
  font-size: 1.3em;
  transition: transform .4s ease-in-out;
}



.text_container {
  TOP: 27vh;
  width: 40vw;
  left: 49vw;
  font-size: 1.1em;
}

/*обратная связь в меню!*/
.footer-center_two {
  display: block;
  font-size: 1em;
  margin-top: 33vw;
  float: left;
}
/*The end обратная связь в меню!*/

/*Навигация внизу*/
.Camping_Links {
 display: none;
}
/*The end Навигация*/


/*Регистрационная панель*/
.fon_gors {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#register, #login {
  position: fixed;
  top: 0px;
  width: 25%;

}
/*The-End Регистрационная панель*/


.Explanation_img {
  width: 100%;
}
.img_Explanation {
  width: 46vh;
  margin-left: 3vw;
}


.wrapper {
  position: absolute;
  width: 100%;
  height: 70%;
  left: 18%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  width: 500px;
  height: 500px;
  position: relative;
  perspective: 1000px;

}
.front, .back {
  position: absolute;
  width: 94%;
  height: 79%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
  backface-visibility: hidden;
  background-color: #fff;
  box-shadow: inset 0 0 90px 0 rgb(14 2 0);
}
.front, .Explanation_img {
  max-width: 100%;
  min-width: 100%;
  height: auto;
}
.back {
  transform: rotateY(180deg);
}
.card:hover .front {
  transform: rotateY(180deg);}
.card:hover .back {
  transform: rotateY(360deg);}

span{
  color: rgb(0, 0, 0);
  position: relative;
}

.text_explan {
  position: relative;
  margin-left: 5vw;
  font-size: 1.3em;
}

.Explanation_text {
  margin-left: 4vw;
  width: 47%;
  float: right;
  position: absolute;
  font-size: 1em;
}

.Explanation {
  width: 70%;
  margin: 0 auto;
  margin-top: 20px;
}

.public {
  width: 100%;
  margin-top: 51px;
  margin-left: 7vw;
}
.text_butten_text {
  color: white;
  text-align: center;
  font-size: .8em;
  line-height: 40px;
  text-align: center;
}


.links_map {
  width: 36%;
  left: 1vw;
}

.text_info_camping {
  width: 88%;
  left: 3vw;
  position: absolute;
  margin-top: 10vw;
  font-size: 0.9em;
}
.text_Attractions {
  display: flex;
  color: rgb(0, 0, 0);
  margin-top: 100px;
  height: 30px;
  width: 79%;
  margin-bottom: 30px;
}

.Public_page {
  cursor: pointer;
  width: 400px;
  margin-right: 40px;
  margin-bottom: 10PX;
}


.Travel_references {
  width: 50%;
  margin: 0 auto;
}

.Attractions {
  margin-left: 75px;
}

.footer-distributed {
  background: #666;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 12%);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
  min-width: 1024px;
}


.map_map {
   display: none
}

#menu li {
  position: relative;
  overflow: hidden;
  height: 50px;
  margin: 11px 0;
  background: none;
}

}

/* max-width: 768px */

@media all and (max-width: 768px){
 
body{
  min-width: 1000px;
 
}
  .navbar__wrap .menu {
    display: none;
  }

 
/*Главный фон!*/
.container {
  width: 900px;
  height: 650px;
  min-width: 1000px;
  background-size: 100%;
  background-image: url(../images/fon.jpg);
  overflow: hidden;
  background-repeat: no-repeat;
}

img {
  width: 116vw;
  background-repeat: no-repeat;
  background-size: cover;
}


.logo {
    transition: transform .4s ease-in-out;
    margin-left: 5px;
}


h6 {
  left: 14vw;
}
/*The-end Главный фон!*/

/*Меню-бургер*/
.hamb {
  display: flex;
  align-items: center;
}

.hamb__field {
  padding: 10px 20px;
  cursor: pointer;
  position: fixed;
  right: 20%;
}

.i_menu {
font-size: 28px;
right: 43px;
position: inherit;
-webkit-transform: skewX(-24deg) translateX(0);
color: #3f3f3f;
top: 7px;
text-transform: uppercase;
font-family: bold;
}


.bar {
  display: block;
  width: 30px;
  height: 3px;
  margin: 6px auto;
  background-color: #040000;
  transition: 0.2s;
}



.popup {
  position: fixed;
  top: 75px;
  left: -100%;
  width: 28%;
  height: 38%;
  background-color: #ffffffd6;
  z-index: 100;
  display: flex;
  transition: 0.3s;
}
.popup.open {
  left: 0;
}

.popup .menu {
  width: 100%;
  height: 91%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;

}

.popup .menu > li {
  width: 100%;
}

.popup .menu > li > a {
  width: 50%;
  height: 50%;
  margin: 0 auto;
  padding: 17px 0;
  font-size: 21px;
  font-weight: bold;
  color: #3f3f3f;
}

.popup .menu > li > a:hover {
  background-color: rgba(122, 82, 179, 0.1);
}

.hamb__field.active .bar:nth-child(2) {
  opacity: 0;
}

.hamb__field.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamb__field.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

body.noscroll {
  overflow: hidden;
}


.popup .menu > li{
background: none;
margin: 0 auto;
}

.menu #menu {
list-style:none;
width: 800px;
width: -moz-fit-content;
width: -webkit-fit-content;
width: fit-content;
position: absolute;
position: fixed;
top: 35vw;
left: 35vw;
z-index: 1;

}

.navbar{
position: fixed;
left: 71vw;
top: 0;
width: 100%;
height: 75px;

}

.navbar_wrap .menu > li > a {
display: flex;
align-items: center;
padding: 0 20px;
color: rgba(141, 127, 35, 0.7);
position: fixed;
}

.navbar_wrap .menu > li > a:hover {
color: rgb(243, 8, 8);
}
/* The-end Меню-бургер!*/
/*Кнопка на понель регистрации и входа лич.коб!*/
.icon_reg {
  background: none;
  width: 43px;
  position: fixed;
  right: 26%;
  top: 17px;
}

.long_in_text {
  width: 80px;
  right: 29%;
  top: 20px;
  position: fixed;
}
/*The-End Кнопки!*/


.text_h3 {
  top: 13vh;
  width: 41vw;
  height: 42px;
  font-size: 1.1em;
  transition: transform .4s ease-in-out;
}

.text_container {
  position: absolute;
  text-transform: uppercase;
  font-family: 'Rubik One', sans-serif;
  TOP: 49vh;
  width: 46vw;
  left: 49vw;
  font-size: 1.4em;
  background: #625819;
  color: white;
  display: table;
  border-radius: 5px;
  mix-blend-mode: multiply;
  padding: 0px 7px 0px 24px;
  transition: transform .4s ease-in-out;
}

.text_container {
  TOP: 27vh;
  width: 57vw;
  left: 49vw;
  font-size: 1.1em;
}

/*обратная связь в меню!*/
.footer-center_two {
  display: block;
  font-size: 1em;
  margin-top: 40vw;
  float: left;
}
/*The end обратная связь в меню!*/

/*Навигация внизу*/
.Camping_Links {
 display: none;
}
/*The end Навигация*/


/*Регистрационная панель*/
.fon_gors {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#register, #login {
  position: fixed;
  top: 0px;
  width: 25%;

}
/*The-End Регистрационная панель*/


.Explanation_img {
  width: 551px;
}
.img_Explanation {
  width: 48vh;
  margin-left: 18vw;
}


.wrapper {
  position: relative;
  width: 67%;
  height: 17%;
  left: 10%;
  display: block;
}
.container_two {
  width: 781px;
  height: 750px;
  position: relative;
  left: 15vw;
  top: 40vw;
  z-index: 1;
}

.card {
  width: 766px;
  height: 276px;
  position: relative;
}
.front, .back {
  box-shadow: inset 0 0 90px 0 rgb(14 2 0);
}
.front, .Explanation_img {
  max-width: 100%;
  min-width: 100%;
  height: auto;
}
.back {
  transform: rotateY(180deg);
}
.card:hover .front {
  transform: rotateY(180deg);}
.card:hover .back {
  transform: rotateY(360deg);}

span{
  color: rgb(0, 0, 0);
  position: relative;
}


.text_explan {
  width: 612px;
  text-align: center;
  font-size: 1.5em;
}

.Explanation_text {
  font-size: 1.1em;
  margin-left: 7vw;
  width: 661px;
}

.Explanation {
  width: 70%;
  margin: 0 auto;
  margin-top: 20px;
}

.public {
  display: block;
  width: 100%;
  margin-left: 20vw;
}

.text_info {
  justify-content: center;
  width: 60%;
  position: unset;
  font-size: 1.2em;
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-top: 11vh;
  font-family: monospace;
}

.text_butten_text {
  line-height: 36px;
}

.text_info_camping {
  width: 100%;
  left: 15vw;
  position: absolute;
  margin-top: 17vw;
}


.links_map {
  width: 42%;
  margin: 0 auto;
  margin-left: 36vw;
}

.text_Attractions {
  display: flex;
  color: rgb(0, 0, 0);
  margin-top: 100px;
  height: 30px;
  width: 79%;
  margin-bottom: 30px;
}

.Public_page {
  cursor: pointer;
  width: 700px;
}

.title_text {
  font-size: 1.5em;
}

.Public_text {
  margin-top: 5px;
  width: 100%;
  height: 94px;
  font-size: 1.2em;
  font-family: sans-serif;
  color: black;
}



.Public_img {
  width: 100%;
  height: 550px;
  margin: 0;
  box-shadow: 5px 5px 10px 2px rgb(34 60 80 / 20%);
  border-radius: 30px;
  opacity: 0.5;
  transition: .7s;
}


.Travel_references {
  width: 79%;
  position: relative;
}

.Attractions {
  width: 880px;
  margin-top: 80px;
  margin-left: 20vw;
  position: relative;
}

.footer-distributed {
  font: bold 14px sans-serif;
  display: flex;
  width: 90%;
  min-width: 952px;
}

.map_map {
   display: none
}

#menu li {
  position: relative;
  overflow: hidden;
  height: 50px;
  margin: 11px 0;
  background: none;
}

}



/* max-width: 576px */

@media all and (max-width: 576px){
 
  body{
    min-width: 1000px;
   
  }
    .navbar__wrap .menu {
      display: none;
    }
  
   
  /*Главный фон!*/
  .container {
    width: 900px;
    height: 650px;
    min-width: 1000px;
    background-size: 100%;
    background-image: url(../images/fon.jpg);
    overflow: hidden;
    background-repeat: no-repeat;
  }
  
  img {
    width: 116vw;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  
  .logo {
    margin-left: 2px;
    width: 102px;
}
  
  
  h6 {
    left: 20vw;
  }
  /*The-end Главный фон!*/
  
  /*Меню-бургер*/
  .hamb {
    display: flex;
    align-items: center;
  }

  .hamb__field {
    padding: 10px 20px;
    cursor: pointer;
    position: fixed;
    right: 20%;
}

.i_menu {
  font-size: 28px;
  right: 43px;
  position: inherit;
  -webkit-transform: skewX(-24deg) translateX(0);
  color: #3f3f3f;
  top: 7px;
  text-transform: uppercase;
  font-family: bold;
}


  .bar {
    display: block;
    width: 30px;
    height: 3px;
    margin: 6px auto;
    background-color: #040000;
    transition: 0.2s;
  }



  .popup {
    position: fixed;
    top: 75px;
    left: -100%;
    width: 28%;
    height: 45%;
    background-color: #ffffffd6;
    z-index: 100;
    display: flex;
    transition: 0.3s;

}
.popup.open {
  left: 0;
  height: 545px;
}
  .popup .menu {
    width: 100%;
    height: 91%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

}

  .popup .menu > li {
    width: 100%;
  }

  .popup .menu > li > a {
    width: 50%;
    height: 50%;
    margin: 0 auto;
    padding: 17px 0;
    font-size: 21px;
    font-weight: bold;
    color: #3f3f3f;
}

  .popup .menu > li > a:hover {
    background-color: rgba(122, 82, 179, 0.1);
  }

  .hamb__field.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamb__field.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamb__field.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  body.noscroll {
    overflow: hidden;
  }


  .popup .menu > li{
 background: none;
 margin: 0 auto;
 }

 .menu #menu {
  list-style:none;
  width: 800px;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  position: absolute;
  position: fixed;
  top: 35vw;
  left: 35vw;
  z-index: 1;
  
}

.navbar{
  position: fixed;
  left: 71vw;
  top: 0;
  width: 100%;
  height: 75px;

}

.navbar_wrap .menu > li > a {
  display: flex;
  align-items: center;
  padding: 0 20px;
  color: rgba(141, 127, 35, 0.7);
  position: fixed;
}

.navbar_wrap .menu > li > a:hover {
  color: rgb(243, 8, 8);
}
  /* The-end Меню-бургер!*/
  /*Кнопка на понель регистрации и входа лич.коб!*/
  .icon_reg {
    background: none;
    width: 43px;
    position: fixed;
    right: 26%;
    top: 17px;
  }
  
  .long_in_text {
    width: 80px;
    right: 29%;
    top: 20px;
    position: fixed;
  }
  /*The-End Кнопки!*/
  
  
  .text_h3 {
    top: 13vh;
    width: 54vw;
    height: 42px;
    font-size: 1.1em;
    transition: transform .4s ease-in-out;
}
  
  .text_container {
    position: absolute;
    text-transform: uppercase;
    font-family: 'Rubik One', sans-serif;
    TOP: 49vh;
    width: 46vw;
    left: 49vw;
    font-size: 1.4em;
    background: #625819;
    color: white;
    display: table;
    border-radius: 5px;
    mix-blend-mode: multiply;
    padding: 0px 7px 0px 24px;
    transition: transform .4s ease-in-out;
  }
  
  .text_container {
    TOP: 27vh;
    width: 75vw;
    left: 49vw;
    font-size: 1.1em;
}
  
  /*обратная связь в меню!*/
  .footer-center_two {
    display: block;
    font-size: 1.1em;
    margin-top: 66vw;
    float: left;
}
  /*The end обратная связь в меню!*/
  
  /*Навигация внизу*/
  .Camping_Links {
   display: none;
  }
  /*The end Навигация*/
  
  
  /*Регистрационная панель*/
  .fon_gors {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  #register, #login {
    position: fixed;
    top: 0px;
    width: 25%;
  
  }
  /*The-End Регистрационная панель*/
  
  
  .Explanation_img {
    width: 551px;
  }
  .img_Explanation {
    width: 48vh;
    margin-left: 18vw;
  }
  
  
  .wrapper {
    position: relative;
    width: 67%;
    height: 17%;
    left: 10%;
    display: block;
  }
  .container_two {
    left: 24vw;
    top: 49vw;
}
  
  .card {
    width: 766px;
    height: 276px;
    position: relative;
  }
  .front, .back {
    box-shadow: inset 0 0 90px 0 rgb(14 2 0);
  }
  .front, .Explanation_img {
    max-width: 100%;
    min-width: 100%;
    height: auto;
  }
  .back {
    transform: rotateY(180deg);
  }
  .card:hover .front {
    transform: rotateY(180deg);}
  .card:hover .back {
    transform: rotateY(360deg);}
  
  span{
    color: rgb(0, 0, 0);
    position: relative;
  }
  
  
  .text_explan {
    width: 612px;
    text-align: center;
    font-size: 1.5em;
  }
  
  .Explanation_text {
    font-size: 1.4em;
    width: 807px;
    right: 1vw;
}
  
  .Explanation {
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
  }
  
  .public {
    display: block;
    width: 100%;
    margin-left: 25vw;
}
  
  .text_info {
    justify-content: center;
    width: 60%;
    position: unset;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-top: 11vh;
    font-family: monospace;
  }
  
  .text_butten_text {
    line-height: 36px;
    font-size: 14px;
}
  .text_info_camping {
    width: 700px;
    left: 23vw;
    margin-top: 20vw;
    font-size: 19px;
}
  
  
.links_map {
  width: 38%;
  margin: 0 auto;
  margin-left: 47vw;
  bottom: 29px;
}
  
  .text_Attractions {
    display: flex;
    color: rgb(0, 0, 0);
    margin-top: 100px;
    height: 30px;
    width: 79%;
    margin-bottom: 30px;
  }
  
  .Public_page {
    cursor: pointer;
    width: 700px;
  }
  
  .title_text {
    font-size: 1.5em;
  }
  
  .Public_text {
    font-size: 1.3em;
}
  
  
  
  .Public_img {
    width: 100%;
    height: 550px;
    margin: 0;
    box-shadow: 5px 5px 10px 2px rgb(34 60 80 / 20%);
    border-radius: 30px;
    opacity: 0.5;
    transition: .7s;
  }
  
  
  .Travel_references {
    width: 79%;
    position: relative;
  }
  
  .Attractions {
    width: 880px;
    margin-top: 80px;
    margin-left: 27vw;
    position: relative;
}
  
.footer-distributed {
  font: bold 14px sans-serif;
  display: block;
  width: 90%;
  min-width: 969px;
}
  .map_map {
     display: none
  }
  
  #menu li {
    position: relative;
    overflow: hidden;
    height: 50px;
    margin: 20px 0;
    background: none;
}


.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
  display: block;
  width: 87%;
  margin-bottom: 40px;
  text-align: center;
  font-size: 19px;
}
  
  
  }




  /* max-width: 376px */

@media all and (max-width: 376px){
 
  body{
    min-width: 1000px;
   
  }
    .navbar__wrap .menu {
      display: none;
    }
  
   
  /*Главный фон!*/
  .container {
    width: 900px;
    height: 650px;
    min-width: 1000px;
    background-size: 100%;
    background-image: url(../images/fon.jpg);
    overflow: hidden;
    background-repeat: no-repeat;
  }
  
  img {
    width: 116vw;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  
  .logo {
    margin-left: 2px;
    width: 102px;
}
  
h6 {
  left: 26vw;
}
  /*The-end Главный фон!*/
  
  /*Меню-бургер*/
  .hamb {
    display: flex;
    align-items: center;
  }

  .hamb__field {
    padding: 10px 20px;
    cursor: pointer;
    position: fixed;
    right: 20%;
}

.i_menu {
  font-size: 28px;
  right: 43px;
  position: inherit;
  -webkit-transform: skewX(-24deg) translateX(0);
  color: #3f3f3f;
  top: 7px;
  text-transform: uppercase;
  font-family: bold;
}


  .bar {
    display: block;
    width: 30px;
    height: 3px;
    margin: 6px auto;
    background-color: #040000;
    transition: 0.2s;
  }



  .popup {
    position: fixed;
    top: 75px;
    left: -100%;
    width: 28%;
    height: 45%;
    background-color: #ffffffd6;
    z-index: 100;
    display: flex;
    transition: 0.3s;

}
.popup.open {
  left: 0;
  height: 545px;
}
  .popup .menu {
    width: 100%;
    height: 91%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

}

  .popup .menu > li {
    width: 100%;
  }

  .popup .menu > li > a {
    width: 50%;
    height: 50%;
    margin: 0 auto;
    padding: 17px 0;
    font-size: 21px;
    font-weight: bold;
    color: #3f3f3f;
}

  .popup .menu > li > a:hover {
    background-color: rgba(122, 82, 179, 0.1);
  }

  .hamb__field.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamb__field.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamb__field.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  body.noscroll {
    overflow: hidden;
  }


  .popup .menu > li{
 background: none;
 margin: 0 auto;
 }

 .menu #menu {
  list-style:none;
  width: 800px;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  position: absolute;
  position: fixed;
  top: 35vw;
  left: 35vw;
  z-index: 1;
  
}

.navbar{
  position: fixed;
  left: 71vw;
  top: 0;
  width: 100%;
  height: 75px;

}

.navbar_wrap .menu > li > a {
  display: flex;
  align-items: center;
  padding: 0 20px;
  color: rgba(141, 127, 35, 0.7);
  position: fixed;
}

.navbar_wrap .menu > li > a:hover {
  color: rgb(243, 8, 8);
}
  /* The-end Меню-бургер!*/
  /*Кнопка на понель регистрации и входа лич.коб!*/
  .icon_reg {
    background: none;
    width: 43px;
    position: fixed;
    right: 26%;
    top: 17px;
  }
  
  .long_in_text {
    width: 80px;
    right: 29%;
    top: 20px;
    position: fixed;
  }
  /*The-End Кнопки!*/
  
  
  .text_h3 {
    top: 13vh;
    width: 88vw;
    height: 42px;
    font-size: 1.2em;
    transition: transform .4s ease-in-out;
}
  
  .text_container {
    position: absolute;
    text-transform: uppercase;
    font-family: 'Rubik One', sans-serif;
    TOP: 49vh;
    width: 46vw;
    left: 49vw;
    font-size: 1.4em;
    background: #625819;
    color: white;
    display: table;
    border-radius: 5px;
    mix-blend-mode: multiply;
    padding: 0px 7px 0px 24px;
    transition: transform .4s ease-in-out;
  }
  
  .text_container {
    TOP: 27vh;
    width: 115vw;
    left: 108vw;
    font-size: 1.2em;
}
  
  /*обратная связь в меню!*/
  .footer-center_two {
    display: block;
    font-size: 1.1em;
    margin-top: 96vw;
    float: left;
}
  /*The end обратная связь в меню!*/
  
  /*Навигация внизу*/
  .Camping_Links {
   display: none;
  }
  /*The end Навигация*/
  
  
  /*Регистрационная панель*/
  .fon_gors {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  #register, #login {
    position: fixed;
    top: 0px;
    width: 25%;
  
  }
  /*The-End Регистрационная панель*/
  
  
  .Explanation_img {
    width: 551px;
  }
  .img_Explanation {
    width: 48vh;
    margin-left: 32vw;
}
  
  
  .wrapper {
    position: relative;
    width: 67%;
    height: 17%;
    left: 10%;
    display: block;
  }
  .container_two {
    left: 40vw;
    top: 73vw;
}
  
  .card {
    width: 766px;
    height: 276px;
    position: relative;
  }
  .front, .back {
    box-shadow: inset 0 0 90px 0 rgb(14 2 0);
  }
  .front, .Explanation_img {
    max-width: 100%;
    min-width: 100%;
    height: auto;
  }
  .back {
    transform: rotateY(180deg);
  }
  .card:hover .front {
    transform: rotateY(180deg);}
  .card:hover .back {
    transform: rotateY(360deg);}
  
  span{
    color: rgb(0, 0, 0);
    position: relative;
  }
  
  
  .text_explan {
    width: 612px;
    text-align: center;
    font-size: 1.5em;
  }
  
  .Explanation_text {
    font-size: 1.4em;
    width: 807px;
    right: 1vw;
}
  
  .Explanation {
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
  }
  
  .public {
    display: block;
    width: 100%;
    margin-left: 39vw;
}
  
  .text_info {
    justify-content: center;
    width: 60%;
    position: unset;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-top: 11vh;
    font-family: monospace;
  }
  
  .text_butten_text {
    line-height: 36px;
    font-size: 14px;
}
.text_info_camping {
  width: 700px;
  left: 36vw;
  margin-top: 25vw;
  font-size: 20px;
}
  
  
.links_map {
  width: 38%;
  margin: 0 auto;
  margin-left: 78vw;
  bottom: 29px;
}
  
  .text_Attractions {
    display: flex;
    color: rgb(0, 0, 0);
    margin-top: 100px;
    height: 30px;
    width: 79%;
    margin-bottom: 30px;
  }
  
  .Public_page {
    cursor: pointer;
    width: 700px;
  }
  
  .title_text {
    font-size: 1.5em;
  }
  
  .Public_text {
    font-size: 2em;
}
  
  
  .Public_img {
    width: 100%;
    height: 550px;
    margin: 0;
    box-shadow: 5px 5px 10px 2px rgb(34 60 80 / 20%);
    border-radius: 30px;
    opacity: 0.5;
    transition: .7s;
  }
  
  
  .Travel_references {
    width: 79%;
    position: relative;
  }
  
  .Attractions {
    width: 880px;
    margin-top: 80px;
    margin-left: 44vw;
    position: relative;
}
  
.footer-distributed {
  font: bold 14px sans-serif;
  display: block;
  width: 90%;
  min-width: 1018px;
}
  .map_map {
     display: none
  }
  
  #menu li {
    position: relative;
    overflow: hidden;
    height: 50px;
    margin: 20px 0;
    background: none;
}


.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
  display: block;
  width: 87%;
  margin-bottom: 40px;
  text-align: center;
  font-size: 19px;
}
  
  
  }










  